button {
    background-color: F0351E; /* red orange */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
button:hover {
    background-color: #b8390e;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff3d9;
    margin: 0;
    padding: 20px;
}

